<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>word</servlet-name>
    <servlet-class>main.WordCloud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>word</servlet-name>
    <url-pattern>/parse</url-pattern>
  </servlet-mapping>
  <servlet>
	  <servlet-name>home</servlet-name>
	  <servlet-class>main.Home</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>home</servlet-name>
	  <url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>